*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.containerPrincipal{
    width: 100%;
    height: 100vh;
}

.containerPrincipal header{
    width: 100%;
    background-color: #eeee;
    padding:15px;
    text-align: center;
    font-size: 1.02em;
    font-family: 'Segoe UI';
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0px 5px 30px #eeee;
}

.containerPrincipal .cotainerAssigned{
    background-color: #eeee;
    display: flex;
    flex-direction: column;
    width: 65%;
    min-width: 300px;
    max-width: 500px;
    margin: 50px auto;
    border: 1.4px solid #eeee;
    border-radius: 20px;
    padding: 0px 20px;
    box-shadow: 4px 10px 30px #d4d3d3ef;
}

.cotainerAssigned p{
    text-align: center;
    padding: 20px 0px;
    font-size: 20px;
}

.cotainerAssigned form{
    display: flex;
    flex-direction: column;
}

.cotainerAssigned textarea, .cotainerAssigned .nametarea{
    width: 100%;
    border-radius: 8px;
    margin: 5px 0px;
    padding: 10px;
    outline: none;
    border: none;
    font-family: 'Segoe UI';
    background-color: #fff;
}

.cotainerAssigned textarea{
    overflow: hidden;
    resize: none;
}

#button {
    align-self: flex-end;
    width: 90px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14.5px;
    padding: 10px 15px;
    margin-bottom: 20px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff; 
    transition: transform 0.3s ease-in-out;
}
#button:hover {
    background-color: #0056b3;
}
#button:active {
    transform: scale(0.9);
    background-color: #0066cc;
}

.containertasks{
    width: 90%;
    min-width: 480px;
    margin: 50px auto;
    box-shadow: 5px 10px 40px #d6d6d6ef;
}

.message-error, .message-correct{
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    border-radius: 8px;
    font-weight: bold;
    font-style: italic;
}
.message-error{
    background-color: rgb(236, 137, 137);
    color: rgb(255, 0, 0);
}

.message-correct{
    background-color: rgb(174, 219, 174);
    color: green;
}

.acciones{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

.accion{
    font-size: 12px;
    font-style: italic;
    width: 60px;
    height: 30px;
    border-radius: 6.5px;
    outline: none;
    text-align: center;
    padding: 9px 0px;
    text-decoration: none;
}

.accion.editar{
    background-color: #fff5b8;
    color: #907d01;
    transition: transform 0.3s ease-in-out;
}

.accion.editar:hover{
    transform: scale(0.8);
}

.accion.eliminar{
    background-color: #fbc9c9;
    color: #840000;
    transition: transform 0.3s ease-in-out;
}

.accion.eliminar:hover{
    transform: scale(0.8);
}

.containertasks {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.containertasks table{
    width: 100%;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0;
    border: 1px solid #ddd;
    overflow: hidden;
}

.containertasks th, .containertasks td {
    font-family: Lucida;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 0.9em;
}


.containertasks th {
    background-color: #f2f2f2;
    color: #333;
}

.containertasks td {
    background-color: #fff;
    color: #555;
}

.select-accion{
    width: 10%;
    max-width: 200px;
    min-width: 50px;
}

.select-name{
    width: 25%;
    max-width: 400px;
    min-width: 150px;
}
